/* @import url('../assets/wel8ibk.css'); */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* outline: 1px solid red; */
  font-family: "proxima-nova",sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#app {
  width: 100%;
  height: 100vh;
  background-color:#E5E5E5;
}

.container {
  max-width: 1280px;
  /* width: 1280px; */
  /* padding-left: 60px;
  padding-right: 60px; */
  margin: auto;
}

@media (max-width: 1440px){
  .container {
    padding-left: 5%;
    padding-right: 5%;
    /* padding-left: 60px;
    padding-right: 60px; */
  }
}

.title {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 3.6px;
  color: #262626;
  margin-top: 125px;
  margin-bottom: 75px;
  position: relative; 
  z-index: 1;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: -22px;
  background-color:#EE6C8A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.title:before {
  content: '';
  position: absolute;
  bottom: -14PX;
  left: -5px;
  right: -5px;
  /* background-color:#26C6D0; */
  background-image: url(./wave.png);
  /* background-position: 20%; */
  background-repeat: repeat-x;
  background-size: contain;
  display: inline-block;
  height: 12px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

p {
  /* width: 960px; */
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
}

.btn {
  background-color: #26C6D0;
  border-radius: 1px;
  text-decoration: none;
  margin: 70px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.btn-line {
  display: block;
  width: 52px;
  height: 2px;
  background-color: #ffff;
  margin-left: 15px;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 2px 2px 6px 2px rgba(16, 124, 132, 0.8);
}
.btn:active {
  transform: translateY(-6px) scale(.98);
}
